.header {
  padding-left: 8vw !important;
  padding-right: 8vw !important;
  position: absolute !important;
  z-index: 4;
  top: 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0) !important;
  width: 100%;
}
.header button.navbar-toggler {
  background: white;
}
.header .content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.header .content .nav-links {
  margin-right: 70px;
  font-family: 'platnomor';
}
.header .content .nav-links .navbar-nav {
  width: 100%;
  justify-content: space-around;
}
.header .content .nav-links .navbar-nav a {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.header .content .nav-links .navbar-nav a:hover {
  transition: all;
  border-bottom: 2px solid #F2FCF5;
}
.header .nav-links-mobile {
  width: 100%;
  height: 200px;
  font-family: 'platnomor';
}
.header .nav-links-mobile .navbar-brand {
  margin-left: 20px;
}
.header .nav-links-mobile .navbar-toggler:focus {
  box-shadow: none;
  border: 1px solid #05AD0A !important;
}
.header .nav-links-mobile .nav-collapsible {
  background: white;
  padding: 30px;
  border-radius: 5px;
}
.header .nav-links-mobile .nav-collapsible a {
  font-size: 1.4em;
  font-weight: bold;
}
.header .nav-links-mobile .nav-collapsible a:hover {
  color: #05AD0A;
}
.app-logo {
  max-width: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fafafb;
  padding-left: 8vw;
  padding-top: 50px;
  padding-right: 8vw;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  color: #777;
  cursor: pointer;
}
.footer ul li:hover {
  color: #05AD0A;
}
.footer ul li:nth-child(1) {
  color: #444;
  font-weight: bold;
  padding-bottom: 5px;
}
.footer .nav-section {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 150px;
}
.footer .credits {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  margin-top: 2.5em;
}
.footer .credits p {
  color: #777;
}
.footer .subscribe-input {
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 992px) {
  .footer .credits p {
    font-size: 0.8em;
  }
  .footer .nav-section {
    border-left: 1px solid rgba(0, 0, 0, 0);
    height: 180px;
  }
  .footer .nav-section:nth-child(1) ul {
    padding-left: 0px;
  }
}

.contact-form {
  position: relative;
  z-index: 1;
}
.contact-form button {
  font-family: Inter;
  font-weight: bold;
  margin-top: 15px;
}
.contact-form button svg {
  margin-right: 5px;
}
.contact-form textarea {
  resize: none;
}

.get-in-touch-landing {
  width: 100vw;
}
.get-in-touch-landing .contact-img {
  z-index: 0;
  width: 30%;
  min-width: 400px;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  position: absolute;
}
.get-in-touch-landing .contact-form {
  z-index: 1;
  width: 85%;
  margin-top: 50px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}
.get-in-touch-landing .contact-form .dtocFormGroup {
  margin-top: 15px;
}
.get-in-touch-landing .contact-form .dtocFormGroup label {
  color: #777;
}
.get-in-touch-landing .contact-form .dtocFormGroup input,
.get-in-touch-landing .contact-form .dtocFormGroup textarea {
  background: #F2FCF5;
}
.get-in-touch-landing .get-in-touch {
  padding-top: 60px !important;
  height: 100vh;
  background: #05AD0A;
}
.get-in-touch-landing .get-in-touch .page-title {
  color: #444;
  padding-bottom: 0px;
}
.get-in-touch-landing .get-in-touch .page-title span {
  color: #ffffff;
}
.get-in-touch-landing .get-in-touch .description {
  color: #ffffff;
}

.contact-details {
  background: #F2FCF5 !important;
}
.contact-details .title {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.contact-details .divided-elements {
  margin-top: 50px;
}
.contact-details .divided-elements .el-title {
  color: #05AD0A;
  padding-bottom: 10px;
}
.contact-details .divided-elements .el-description {
  color: #777;
}

.testimonials {
  background-color: #F2FCF5 !important;
}
.testimonials .carousel-inner .carousel-item .carousel-flex {
  height: 300px;
}
.testimonials .carousel-inner .carousel-item .carousel-text {
  width: 60%;
}
.testimonials .carousel-inner .carousel-item .carousel-img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.testimonials .carousel-inner .carousel-item .quote {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .carousel-inner .carousel-item .quote svg {
  stroke: #05AD0A;
}
.testimonials .carousel-inner .carousel-item p {
  max-width: 700px;
}
.testimonials .carousel-inner .carousel-item h5 {
  color: #777;
  font-weight: 300;
}
@media screen and (max-width: 992px) {
  .testimonials .carousel-inner .carousel-item .carousel-flex {
    height: 350px;
  }
}

.services {
  background-color: #F2FCF5 !important;
}
.services .benefits-card {
  border: none;
  margin-top: 30px;
  padding: 25px;
  height: 350px;
  width: 95%;
}
.services .benefits-card .card-img-top {
  width: 30%;
}
.services .benefits-card .title-img {
  display: flex;
  justify-content: column;
  align-items: center;
}
.services .benefits-card .card-body {
  padding: 0.6em !important;
}
.services .benefits-card .card-body .card-title {
  color: #444;
  text-align: center;
  font-size: 1em !important;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.services .benefits-card .card-body .card-text {
  font-size: 1em;
  color: #777;
  text-align: left;
}
.services .benefits-card img {
  width: 2.5em;
  color: #05AD0A;
}
@media screen and (max-width: 992px) {
  .services .benefits-card .card-body {
    padding: 0em !important;
  }
}

.reach {
  padding-top: 0em !important;
  background-color: #fff !important;
}
.reach .reach-img {
  width: 70%;
}
.reach .title {
  padding-top: 1em !important;
  padding-bottom: 0.1em !important;
}
.reach p {
  text-align: right;
}
.reach .description {
  font-family: 'Inter';
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
.reach .description p {
  max-width: 600px;
  text-align: justify;
  font-size: 1.2em;
  padding-bottom: 2em;
  color: #777;
}
.reach .counters {
  margin-top: 3em;
  font-weight: 900;
  font-family: 'Inter';
}
.reach .counters div:nth-child(1) {
  font-size: 3em;
}
.reach .counters div:nth-child(2) {
  color: #05AD0A;
  font-size: 1.6em;
  font-family: PlatNomor;
}
@media screen and (max-width: 992px) {
  .reach .reach-img {
    display: none;
  }
  .reach .description p {
    max-width: 100%;
  }
}

.partners {
  font-family: 'Inter';
  margin-bottom: 4em;
}
.partners .page-title {
  padding-top: 2em !important;
  padding-bottom: 1.5em !important;
}
.partners .partner-carousel {
  width: 90%;
}
.partners .partner-carousel .carousel-control-prev {
  margin-left: -10%;
}
.partners .partner-carousel .carousel-control-next {
  margin-right: -10%;
}
.partners .partner-item-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.partners .partner-item-flex .partner-item {
  display: flex;
  flex-direction: column;
  height: 70px;
  overflow: hidden;
  font-family: TypoGraphica;
  font-size: 2.2em;
  color: #444;
}
.partners .partner-item-flex .partner-item .item-element {
  display: flex;
}
.partners .partner-item-flex .partner-item .name {
  height: 28px;
  color: #05AD0A;
}
@media screen and (max-width: 992px) {
  .partners .partner-item-flex .partner-item {
    transform: scale(0.9) !important;
  }
}

.landing-banner-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.landing-banner-container .landing-banner-image {
  height: 100vh;
  width: 100%;
}
.landing-banner-container .landing-content {
  padding-left: 8vw !important;
  padding-right: 8vw !important;
  position: absolute;
  top: 20%;
  display: flex;
}
.landing-banner-container .landing-content .info {
  z-index: 1;
  width: 500px;
  color: #444;
  text-align: center;
  font-family: PlatNomor;
  font-size: 55px;
  font-weight: bold;
  line-height: 64px;
}
.landing-banner-container .landing-content .info p:nth-child(1) {
  font-size: 80px;
}
.landing-banner-container .landing-content .info p:nth-child(3) {
  font-size: 90px;
  color: #F2FCF5;
}
.landing-banner-container .landing-content .info p:nth-child(4) {
  font-size: 40px;
  line-height: 40px;
}
.landing-banner-container .landing-content .info .branding-logo {
  width: 250px;
  transform: translateY(-10px);
}
.landing-banner-container .landing-content .emergency-form {
  width: 60%;
  border-radius: 15px;
  padding-left: 20px;
}
.landing-banner-container .landing-content .emergency-form .tollFreeCallBtn {
  padding: 15px;
  font-weight: bold;
  font-family: PlatNomor;
  letter-spacing: 3px;
  font-size: 20px;
}
.landing-banner-container .landing-content .emergency-form .or-divider {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 0px;
  color: #05AD0A;
  border-bottom: 1px solid #05AD0A;
}
.landing-banner-container .landing-content .emergency-form span.input-group-text {
  background: #fff;
  color: #444;
  font-weight: bold;
  border: 1px solid #fff;
}
.landing-banner-container .landing-content .emergency-form input {
  background: #fff;
  border: none;
}
.landing-banner-container .landing-content .emergency-form input:focus {
  box-shadow: none;
  border: 1px solid #05AD0A;
}
.landing-banner-container .landing-content .emergency-form .assistance-title {
  font-family: Inter;
  font-weight: bold;
  color: #777;
}
.landing-banner-container .landing-content .emergency-form .title {
  font-family: PlatNomor;
  font-weight: bold;
  color: #444;
  font-size: 24px;
  background: #F2FCF5;
}
.landing-banner-container .landing-content .emergency-form .subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  background: #F2FCF5;
}
.landing-banner-container .floating-corner {
  bottom: 0;
  right: 0;
  margin: 30px;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
}
.landing-banner-container .floating-corner button {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.landing-banner-container .floating-corner svg {
  stroke: #d62828;
}
.landing-banner-container-mobile {
  width: 100vw;
  height: 170vh;
  overflow-x: hidden;
}
.landing-banner-container-mobile .landing-banner-image {
  height: 180vh;
  width: 100%;
}
.landing-banner-container-mobile .landing-content {
  width: 100%;
  padding-left: 8vw !important;
  padding-right: 8vw !important;
  position: absolute;
  top: 20%;
  display: flex;
}
.landing-banner-container-mobile .landing-content .info {
  z-index: 1;
  width: 100%;
  color: #444;
  text-align: center;
  font-family: PlatNomor;
  font-size: 3em;
  font-weight: bold;
  line-height: 64px;
}
.landing-banner-container-mobile .landing-content .info p:nth-child(1) {
  font-size: 2em;
}
.landing-banner-container-mobile .landing-content .info p:nth-child(3) {
  font-size: 1.5em;
  color: #F2FCF5;
}
.landing-banner-container-mobile .landing-content .info p:nth-child(4) {
  font-size: 1em;
  line-height: 40px;
}
.landing-banner-container-mobile .landing-content .info .branding-logo {
  width: 250px;
  transform: translateY(-10px);
}
.landing-banner-container-mobile .landing-content .emergency-form {
  margin-top: 70px;
  width: 100%;
  background: #fff;
  padding: 40px 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-banner-container-mobile .landing-content .emergency-form .tollfree-container {
  width: 100%;
}
.landing-banner-container-mobile .landing-content .emergency-form .tollFreeCallBtn {
  padding: 15px;
  font-weight: bold;
  font-family: PlatNomor;
  letter-spacing: 3px;
  font-size: 20px;
}
.landing-banner-container-mobile .landing-content .emergency-form .or-divider {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 0px;
  color: #05AD0A;
  border-bottom: 1px solid #05AD0A;
}
.landing-banner-container-mobile .landing-content .emergency-form span.input-group-text {
  background: #fff;
  color: #444;
  font-weight: bold;
  border: 1px solid #fff;
}
.landing-banner-container-mobile .landing-content .emergency-form .input-group {
  border: 1px solid #d62828;
}
.landing-banner-container-mobile .landing-content .emergency-form input {
  background: #fff;
  border: none;
}
.landing-banner-container-mobile .landing-content .emergency-form input:focus {
  box-shadow: none;
  border: 1px solid #05AD0A;
}
.landing-banner-container-mobile .landing-content .emergency-form .assistance-title {
  font-family: Inter;
  font-weight: bold;
  color: #777;
}
.landing-banner-container-mobile .landing-content .emergency-form .title {
  font-family: PlatNomor;
  font-weight: bold;
  color: #444;
  font-size: 24px;
  background: #F2FCF5;
}
.landing-banner-container-mobile .landing-content .emergency-form .subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  background: #F2FCF5;
}
.landing-banner-container-mobile .floating-corner {
  bottom: 0;
  right: 0;
  margin: 30px;
  position: fixed;
  display: flex;
  z-index: 4;
  align-items: center;
}
.landing-banner-container-mobile .floating-corner button {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.landing-banner-container-mobile .floating-corner svg {
  stroke: #d62828;
}

.help-center-container .page-section {
  margin-top: 70px;
  background-color: #F2FCF5;
}
.help-center-container .page-section .contact-form {
  margin-top: 30px;
}

.page-section.faq {
  background: #F2FCF5;
}
.page-section.faq .accordion-button:not(.collapsed) {
  background: #05AD0A;
  color: #ffffff;
}
.page-section.faq .searchFormGroup {
  padding-bottom: 70px;
  max-width: 500px;
  margin: 0 auto;
}
.page-section.faq .accordion-body {
  color: #777;
}

.about-us-container .ambulance-img {
  height: 100vh !important;
}
.about-us-container .overlay-green {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: absolute;
  top: 0;
}
.about-us-container .page-section {
  position: absolute;
  background: none !important;
  z-index: 3 !important;
  padding-left: calc(8vw + 10px) !important;
  padding-right: calc(8vw + 10px) !important;
  padding-top: 8vw !important;
}
.about-us-container .page-section .title {
  color: #fff;
}
.about-us-container .page-section .description {
  color: #eee;
  font-size: 1.2em;
  text-align: justify;
}

.page-section.founder {
  padding-top: 0em !important;
  background-color: #fff !important;
}
.page-section.founder .image {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #F2FCF5;
}
.page-section.founder .image .inner {
  width: 250px;
}
.page-section.founder p {
  text-align: right;
}
.page-section.founder .description {
  font-family: 'Inter';
  display: flex;
  justify-content: flex-end;
}
.page-section.founder .description p {
  max-width: 600px;
  text-align: justify;
  font-size: 1.2em;
  padding-bottom: 2em;
  color: #777;
}
.page-section.founder .counters {
  margin-top: 3em;
  font-weight: 900;
  font-family: 'Inter';
}
.page-section.founder .counters div:nth-child(1) {
  font-size: 4em;
}
.page-section.founder .counters div:nth-child(2) {
  color: #05AD0A;
  font-size: 1em;
}

.team {
  font-family: 'Inter';
  padding-top: 0em !important;
  background-color: #F2FCF5 !important;
}
.team .team-image {
  width: 100%;
  margin-top: 30px;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team-image .image-container {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ffffff;
  transition: 1s all;
}
.team .team-image .image-container .image {
  height: auto;
  width: 100%;
  aspect-ratio: 1 / 2;
}
.team .team-image .info {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team .team-image .info .name {
  width: 100%;
  color: #777;
  text-align: center;
}
.team .team-image .info .designation {
  width: 100%;
  font-size: 0.8em;
  color: #05AD0A;
  text-align: center;
}
.team .description p {
  text-align: justify;
  font-size: 1.2em;
  padding-bottom: 2em;
  color: #777;
}

.page-section.milestones {
  margin-top: 100vh;
  background: #F2FCF5;
}
.page-section.milestones .history-graphic {
  width: 40%;
  position: absolute;
  z-index: 0;
}
.history-section-content .history-card {
  z-index: 1;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
.history-section-content .history-card .history-title {
  color: #444;
  font-family: Inter;
  font-size: 1.3em;
  font-weight: 900;
}
.history-section-content .history-card .history-description {
  text-align: justify;
  color: #777;
  font-family: Inter;
  font-size: 0.95em;
}
.history-section-content .history-divider {
  width: 20px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

.dtocButton {
  border: unset !important;
  border-radius: 20px;
  background-size: 200% 100% !important;
  background-image: linear-gradient(to right, #d62828 50%, #B00000 50%) !important;
  -webkit-transition: background-position 0.3s !important;
  -moz-transition: background-position 0.3s !important;
  transition: background-position 0.3s !important;
}
.dtocButton:hover {
  background-position: -100% 0 !important;
}
.dtocButton-outline {
  border: unset !important;
  border-radius: 2px !important;
  background-size: 200% 100% !important;
  font-family: PlatNomor !important;
  font-weight: bold !important;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #d62828 50%, #B00000 50%) !important;
  -webkit-transition: background-position 0.3s !important;
  -moz-transition: background-position 0.3s !important;
  transition: background-position 0.3s !important;
}
.dtocButton-outline:hover {
  background-position: -100% 0 !important;
}
.collapsible-text {
  overflow: hidden;
  /* Hide content that overflows */
  transition: max-height 0.5s ease-out;
  /* Transition the max-height property */
  max-height: 0;
  /* Initially collapse the content */
}
.collapsible-text.open {
  max-height: 1000px;
  /* Expand the content */
}
input:focus {
  box-shadow: none !important;
}
.dtocFormGroup input,
.dtocFormGroup textarea {
  border-radius: 0px;
  border: none !important;
  border-bottom: 1px solid #05AD0A !important;
  background: none;
  color: #777;
  padding-left: 0px;
}
.dtocFormGroup input:focus,
.dtocFormGroup textarea:focus {
  outline: none !important;
  background: none;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
/* Or prevent text selection for specific elements */
.prevent-selection {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+/Edge */
  user-select: none;
  /* Standard syntax */
}
.page-section {
  background: #FAFAFB;
  padding: 8vw;
  padding-top: 0px !important;
}
.page-section.green {
  background: #F2FCF5;
}
.page-section.white {
  background: #ffffff;
}
.page-section .page-title {
  font-size: 3em;
  font-family: PlatNomor;
  font-weight: 700;
  padding-bottom: 0.5em;
  padding-top: 0.8em;
  color: #444;
}
.page-section .page-title.light {
  color: #fff;
}
.page-section .page-title.right {
  text-align: right;
}
.page-section .page-title span {
  color: #05AD0A;
}
@media screen and (max-width: 992px) {
  .page-section .page-title {
    font-size: 2em;
  }
}

.page-section.marketing-intro .description {
  color: #777;
}
.page-section.marketing-intro .ReactGridGallery_tile-bottom-bar > div span {
  color: #F2FCF5 !important;
}

.marketing-landing-container {
  width: 100%;
  height: 100vh;
}
.marketing-landing-container .marketing-carousel .slide-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.marketing-landing-container .marketing-carousel .slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This preserves aspect ratio */
}
.marketing-landing-container .overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 8vw;
}
.marketing-landing-container .overlay .control-arrows {
  display: flex;
  align-items: center;
  font-family: 'PlatNomor';
}
.marketing-landing-container .overlay .control-arrows svg {
  color: #ffffff;
  cursor: pointer !important;
  transition-duration: 0.2s;
}
.marketing-landing-container .overlay .control-arrows svg:nth-child(1):hover {
  transform: translateX(-2px);
}
.marketing-landing-container .overlay .control-arrows svg:nth-child(2):hover {
  transform: translateX(2px);
}
.marketing-landing-container .overlay .control-arrows button:nth-child(1) {
  padding-left: 0px;
}
.marketing-landing-container .overlay .title {
  font-family: 'PlatNomor';
  font-size: 80px;
  font-weight: bold;
}
.marketing-landing-container .overlay .subtitle {
  max-width: 50%;
  font-size: 20px;
  font-family: Inter;
}

.page-section.facilities {
  background: #F2FCF5;
}
.page-section.facilities .facilities-text .title {
  font-size: 7em;
  font-weight: bold;
  color: #05AD0A;
  line-height: 0.8em;
}
.page-section.facilities .facilities-text .text {
  color: #777;
  font-size: 1.3em;
}
.page-section.facilities .facilities-text .green-text {
  color: #05AD0A;
}
.page-section.facilities .grid-button {
  overflow: hidden;
  background: #ffffff;
  color: #444;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 2px;
  height: 100%;
  width: 100%;
}
.page-section.facilities .grid-button.active {
  color: #d62828;
}
.page-section.facilities .grid-button div:nth-child(2) {
  font-family: Inter;
  font-weight: 400;
}
.page-section.facilities .grid-button div:nth-child(1) svg {
  width: 50px;
  height: 50px;
}

